<html>
<head>
	<title>Traduction test</title>
</head>
<body>
<h1>
	{{'hello'|trans}} {{name}}

</h1>
<h1>
	{{'Hello'|trans}} {{name}}

</h1>
<h3>
	{{'Symfony2 is great'|trans}}
</h3>
<h3>
	{{"J'aime Symfony2"|trans}}
</h3>	
</body>
</html>